* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chatmsg {
  background-color: #a1a1a1;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 15px !important;
}
